{% load static %}
<!doctype html>
<html lang="pt-Br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1 class="container">This is a heading</h1>
        <p class="container-fluid">This is a paragraph.</p>

        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" width="30" height="24">
                </a>
            </div>
        </nav>



    </body>
</html> 